.circleci/
.github/
build/
node_modules/
coverage/
e2e/docker/
artifacts/
android/
ios/
patches/
scripts/

.bettercodehub.yml
.buckconfig
.gitattributes
.gitignore
.snyk
.watchmanconfig
CONTRIBUTING.md
README.md
SECURITY.md
npm-debug.log
yarn-error.log

.storybook/

app/i18n/locales/
app/containers/CustomIcon/mappedIcons.js
app/containers/CustomIcon/selection.json
