<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
	package="chat.rocket.reactnative">

	<application
		android:name=".MainPlayApplication"
		tools:replace="android:name"
		android:networkSecurityConfig="@xml/network_security_config"
	>
		<receiver
			android:name=".ReplyBroadcast"
			android:enabled="true"
			android:exported="false" />
		<receiver
			android:name=".DismissNotification"
			android:enabled="true"
			android:exported="false" >
		</receiver>
		<meta-data
				android:name="com.bugsnag.android.API_KEY"
				android:value="${BugsnagAPIKey}" />
	</application>

</manifest>