defaults: &defaults
  working_directory: ~/repo

macos: &macos
  macos:
    xcode: "12.1.0"

bash-env: &bash-env
  BASH_ENV: "~/.nvm/nvm.sh"

android-env: &android-env
  JAVA_OPTS: '-Xms512m -Xmx2g'
  GRADLE_OPTS: '-Xmx3g -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-Xmx2g -XX:+HeapDumpOnOutOfMemoryError"'
  TERM: dumb

install-npm-modules: &install-npm-modules
  name: Install NPM modules
  command: yarn

restore-npm-cache-linux: &restore-npm-cache-linux
  name: Restore NPM cache
  key: node-modules-{{ checksum "yarn.lock" }}

save-npm-cache-linux: &save-npm-cache-linux
  key: node-modules-{{ checksum "yarn.lock" }}
  name: Save NPM cache
  paths:
    - ./node_modules

restore-npm-cache-mac: &restore-npm-cache-mac
  name: Restore NPM cache
  key: node-v1-mac-{{ checksum "yarn.lock" }}

save-npm-cache-mac: &save-npm-cache-mac
  key: node-v1-mac-{{ checksum "yarn.lock" }}
  name: Save NPM cache
  paths:
    - ./node_modules

install-node: &install-node
  name: Install Node
  command: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
    source ~/.nvm/nvm.sh
    INSTALLED_NODE=`nvm which current`
    echo "export PATH=\"${INSTALLED_NODE%%/node}:\$PATH\"" >> ~/.bash_profile
    source ~/.bash_profile

restore-gems-cache: &restore-gems-cache
  name: Restore gems cache
  key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}

save-gems-cache: &save-gems-cache
  name: Save gems cache
  key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}
  paths:
    - vendor/bundle

update-fastlane-ios: &update-fastlane-ios
  name: Update Fastlane
  command: |
    echo "ruby-2.6.4" > ~/.ruby-version
    bundle install
  working_directory: ios

update-fastlane-android: &update-fastlane-android
  name: Update Fastlane
  command: |
    echo "ruby-2.6.4" > ~/.ruby-version
    bundle install
  working_directory: android

save-gradle-cache: &save-gradle-cache
  name: Save gradle cache
  key: android-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}
  paths:
    - ~/.gradle

restore_cache: &restore-gradle-cache
  name: Restore gradle cache
  key: android-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}

# COMMANDS
commands:

  android-build:
    description: "Build Android app"
    steps:
      - checkout

      - run: *install-node

      - restore_cache: *restore-npm-cache-linux

      - run: *install-npm-modules

      - restore_cache: *restore-gradle-cache

      - run:
          name: Configure Gradle
          command: |
            echo -e "" > ./gradle.properties
            # echo -e "android.enableAapt2=false" >> ./gradle.properties
            echo -e "android.useAndroidX=true" >> ./gradle.properties
            echo -e "android.enableJetifier=true" >> ./gradle.properties
            echo -e "FLIPPER_VERSION=0.51.0" >> ./gradle.properties
            echo -e "VERSIONCODE=$CIRCLE_BUILD_NUM" >> ./gradle.properties

            if [[ $CIRCLE_JOB == "android-build-official" ]]; then
              echo -e "APPLICATION_ID=chat.rocket.android" >> ./gradle.properties
              echo -e "BugsnagAPIKey=$BUGSNAG_KEY_OFFICIAL" >> ./gradle.properties
              echo $CHAT_ROCKET_ANDROID_STORE_FILE_BASE64_JKS | base64 --decode > ./app/$KEYSTORE_OFFICIAL
              echo -e "KEYSTORE=$KEYSTORE_OFFICIAL" >> ./gradle.properties
              echo -e "KEYSTORE_PASSWORD=$CHAT_ROCKET_ANDROID_STORE_PASSWORD" >> ./gradle.properties
              echo -e "KEY_ALIAS=$CHAT_ROCKET_ANDROID_KEY_ALIAS" >> ./gradle.properties
              echo -e "KEY_PASSWORD=$CHAT_ROCKET_ANDROID_KEY_PASSWORD" >> ./gradle.properties
            else
              echo -e "APPLICATION_ID=chat.rocket.reactnative" >> ./gradle.properties
              echo -e "BugsnagAPIKey=$BUGSNAG_KEY" >> ./gradle.properties
              echo $KEYSTORE_BASE64 | base64 --decode > ./app/$KEYSTORE
              echo -e "KEYSTORE=$KEYSTORE" >> ./gradle.properties
              echo -e "KEYSTORE_PASSWORD=$KEYSTORE_PASSWORD" >> ./gradle.properties
              echo -e "KEY_ALIAS=$KEY_ALIAS" >> ./gradle.properties
              echo -e "KEY_PASSWORD=$KEYSTORE_PASSWORD" >> ./gradle.properties
            fi
          working_directory: android

      - run:
          name: Set Google Services
          command: |
            if [[ $KEYSTORE ]]; then
              echo $GOOGLE_SERVICES_ANDROID | base64 --decode > google-services.json
            fi
          working_directory: android/app

      - run:
          name: Config variables
          command: |
            if [[ $CIRCLE_JOB == "android-build-official" ]]; then
              echo -e "export default { BUGSNAG_API_KEY: '$BUGSNAG_KEY_OFFICIAL' };" > ./config.js
            else
              echo -e "export default { BUGSNAG_API_KEY: '$BUGSNAG_KEY' };" > ./config.js
            fi

      - run:
          name: Build App
          command: |
            if [[ $CIRCLE_JOB == "android-build-official" ]]; then
              ./gradlew bundleOfficialPlayRelease
            fi
            if [[ $CIRCLE_JOB == "android-build-experimental" ]]; then
              ./gradlew bundleExperimentalPlayRelease
            fi
            if [[ ! $KEYSTORE ]]; then
              ./gradlew assembleExperimentalPlayDebug
            fi
          working_directory: android

      - run:
          name: Upload sourcemaps to Bugsnag
          command: |
            if [[ $CIRCLE_JOB == "android-build-official" ]]; then
              yarn generate-source-maps-android upload \
                --api-key=$BUGSNAG_KEY_OFFICIAL \
                --app-version=$CIRCLE_BUILD_NUM \
                --minifiedFile=android/app/build/generated/assets/react/officialPlay/release/app.bundle \
                --source-map=android/app/build/generated/sourcemaps/react/officialPlay/release/app.bundle.map \
                --minified-url=app.bundle \
                --upload-sources
            fi
            if [[ $CIRCLE_JOB == "android-build-experimental" ]]; then
              yarn generate-source-maps-android upload \
                --api-key=$BUGSNAG_KEY \
                --app-version=$CIRCLE_BUILD_NUM \
                --minifiedFile=android/app/build/generated/assets/react/experimentalPlay/release/app.bundle \
                --source-map=android/app/build/generated/sourcemaps/react/experimentalPlay/release/app.bundle.map \
                --minified-url=app.bundle \
                --upload-sources
            fi

      - store_artifacts:
          path: android/app/build/outputs

      - save_cache: *save-npm-cache-linux

      - save_cache: *save-gradle-cache

      - persist_to_workspace:
          root: .
          paths:
            - android/app/build/outputs

  ios-build:
    description: "Build iOS app"
    steps:
      - checkout
      - restore_cache: *restore-gems-cache
      - restore_cache: *restore-npm-cache-mac
      - run: *install-node
      - run: *install-npm-modules
      - run: *update-fastlane-ios
      - run:
          name: Set Google Services
          command: |
            if [[ $KEYSTORE ]]; then
              echo $GOOGLE_SERVICES_IOS | base64 --decode > GoogleService-Info.plist
            fi
          working_directory: ios
      - run:
          name: Upload sourcemaps to Bugsnag
          command: |
            if [[ $CIRCLE_JOB == "ios-build-official" ]]; then
              yarn generate-source-maps-ios
              curl https://upload.bugsnag.com/react-native-source-map \
                -F apiKey=$BUGSNAG_KEY_OFFICIAL \
                -F appBundleVersion=$CIRCLE_BUILD_NUM \
                -F dev=false \
                -F platform=ios \
                -F sourceMap=@ios-release.bundle.map \
                -F bundle=@ios-release.bundle
            fi
            if [[ $CIRCLE_JOB == "ios-build-experimental" ]]; then
              yarn generate-source-maps-ios
              curl https://upload.bugsnag.com/react-native-source-map \
                -F apiKey=$BUGSNAG_KEY \
                -F appBundleVersion=$CIRCLE_BUILD_NUM \
                -F dev=false \
                -F platform=ios \
                -F sourceMap=@ios-release.bundle.map \
                -F bundle=@ios-release.bundle
            fi
      - run:
          name: Fastlane Build
          no_output_timeout: 1200
          command: |
            agvtool new-version -all $CIRCLE_BUILD_NUM
            if [[ $CIRCLE_JOB == "ios-build-official" ]]; then
              /usr/libexec/PlistBuddy -c "Set BugsnagAPIKey $BUGSNAG_KEY_OFFICIAL" ./RocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL YES" ./RocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL YES" ./ShareRocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL YES" ./NotificationService/Info.plist
            else
              /usr/libexec/PlistBuddy -c "Set BugsnagAPIKey $BUGSNAG_KEY" ./RocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL NO" ./RocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL NO" ./ShareRocketChatRN/Info.plist
              /usr/libexec/PlistBuddy -c "Set IS_OFFICIAL NO" ./NotificationService/Info.plist
            fi

            if [[ $APP_STORE_CONNECT_API_KEY ]]; then
              echo $APP_STORE_CONNECT_API_KEY | base64 --decode > ./fastlane/app_store_connect_api_key.p8
              if [[ $CIRCLE_JOB == "ios-build-official" ]]; then
                bundle exec fastlane ios build_official
              else
                if [[ $KEYSTORE ]]; then
                  bundle exec fastlane ios build_experimental
                else
                  bundle exec fastlane ios build_fork
                fi
              fi
            fi
          working_directory: ios
      - save_cache: *save-npm-cache-mac
      - save_cache: *save-gems-cache
      - store_artifacts:
          path: ios/Rocket.Chat.ipa
      - store_artifacts:
          path: ios/Rocket.Chat.app.dSYM.zip
      - persist_to_workspace:
          root: .
          paths:
            - ios/*.ipa
            - ios/*.zip

  upload-to-google-play-beta:
    description: "Upload to Google Play beta"
    parameters:
      official:
        type: boolean
    steps:
      - checkout
      - attach_workspace:
          at: android
      - run:
          name: Store the google service account key
          command: echo "$FASTLANE_GOOGLE_SERVICE_ACCOUNT" | base64 --decode > service_account.json
          working_directory: android
      - run: *update-fastlane-android
      - run:
          name: Fastlane Play Store Upload
          command: bundle exec fastlane android beta official:<< parameters.official >>
          working_directory: android

  # EXPERIMENTAL ONLY
  # No plans to do it for Official
  upload-to-google-play-production:
    description: "Upload to Google Play production"
    steps:
      - checkout
      - attach_workspace:
          at: android
      - run:
          name: Store the google service account key
          command: echo "$FASTLANE_GOOGLE_SERVICE_ACCOUNT" | base64 --decode > service_account.json
          working_directory: android
      - run: *update-fastlane-android
      - run:
          name: Fastlane Play Store Upload
          command: bundle exec fastlane android production
          working_directory: android

  upload-to-testflight:
    description: "Upload to TestFlight"
    parameters:
      official:
        type: boolean
    steps:
      - checkout
      - attach_workspace:
          at: ios
      - restore_cache: *restore-gems-cache
      - run: *update-fastlane-ios
      - run:
          name: Fastlane Tesflight Upload
          command: |
            echo $APP_STORE_CONNECT_API_KEY | base64 --decode > ./fastlane/app_store_connect_api_key.p8
            bundle exec fastlane ios beta official:<< parameters.official >>
          working_directory: ios
      - save_cache: *save-gems-cache

version: 2.1

# EXECUTORS
executors:
  mac-env:
    <<: *macos
    environment:
      <<: *bash-env

# JOBS
jobs:
  lint-testunit:
    <<: *defaults
    docker:
      - image: circleci/node:10

    environment:
      CODECOV_TOKEN: caa771ab-3d45-4756-8e2a-e1f25996fef6

    steps:
      - checkout

      - restore_cache: *restore-npm-cache-linux

      - run: *install-npm-modules

      - run:
          name: Lint
          command: |
            yarn lint

      - run:
          name: Test
          command: |
            yarn test

      - run:
          name: Codecov
          command: |
            yarn codecov

      - save_cache: *save-npm-cache-linux

  # Android builds
  android-build-experimental:
    <<: *defaults
    docker:
      - image: circleci/android:api-28-node
    environment:
      <<: *android-env
      <<: *bash-env
    steps:
      - android-build
  
  android-build-official:
    <<: *defaults
    docker:
      - image: circleci/android:api-28-node
    environment:
      <<: *android-env
      <<: *bash-env
    steps:
      - android-build

  android-google-play-beta-experimental:
    <<: *defaults
    docker:
      - image: circleci/android:api-28-node

    steps:
      - upload-to-google-play-beta:
          official: false

  android-google-play-production-experimental:
    <<: *defaults
    docker:
      - image: circleci/android:api-28-node
    steps:
      - upload-to-google-play-production

  android-google-play-beta-official:
    <<: *defaults
    docker:
      - image: circleci/android:api-28-node

    steps:
      - upload-to-google-play-beta:
          official: true

  # iOS builds
  ios-build-experimental:
    executor: mac-env
    steps:
      - ios-build

  ios-build-official:
    executor: mac-env
    steps:
      - ios-build

  ios-testflight-experimental:
    executor: mac-env
    steps:
      - upload-to-testflight:
          official: false

  ios-testflight-official:
    executor: mac-env
    steps:
      - upload-to-testflight:
          official: true

workflows:
  build-and-test:
    jobs:
      - lint-testunit

      # iOS Experimental
      - ios-hold-build-experimental:
          type: approval
          requires:
              - lint-testunit
      - ios-build-experimental:
          requires:
            - ios-hold-build-experimental
      - ios-hold-testflight-experimental:
          type: approval
          requires:
            - ios-build-experimental
      - ios-testflight-experimental:
          requires:
            - ios-hold-testflight-experimental

      # iOS Official
      - ios-hold-build-official:
          type: approval
          requires:
            - lint-testunit
      - ios-build-official:
          requires:
            - ios-hold-build-official
      - ios-hold-testflight-official:
          type: approval
          requires:
            - ios-build-official
      - ios-testflight-official:
          requires:
            - ios-hold-testflight-official

      # Android Experimental
      - android-hold-build-experimental:
          type: approval
          requires:
              - lint-testunit
      - android-build-experimental:
          requires:
            - android-hold-build-experimental
      - android-hold-google-play-beta-experimental:
          type: approval
          requires:
            - android-build-experimental
      - android-google-play-beta-experimental:
          requires:
            - android-hold-google-play-beta-experimental
      - android-hold-google-play-production-experimental:
          type: approval
          requires:
            - android-build-experimental
      - android-google-play-production-experimental:
          requires:
            - android-hold-google-play-production-experimental
      
      # Android Official
      - android-hold-build-official:
          type: approval
          requires:
            - lint-testunit
      - android-build-official:
          requires:
            - android-hold-build-official
      - android-hold-google-play-beta-official:
          type: approval
          requires:
            - android-build-official
      - android-google-play-beta-official:
          requires:
            - android-hold-google-play-beta-official
