<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987618484208-mrhlv178lp4vsntakhgv8tq5ho8m2u09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987618484208-mrhlv178lp4vsntakhgv8tq5ho8m2u09</string>
	<key>API_KEY</key>
	<string>AIzaSyCr2WnsJmMZESXXwy8uq7bbdH3nNGe5wLU</string>
	<key>GCM_SENDER_ID</key>
	<string>987618484208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.rocket.natter</string>
	<key>PROJECT_ID</key>
	<string>natterchat-4272b</string>
	<key>STORAGE_BUCKET</key>
	<string>natterchat-4272b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987618484208:ios:07c67b276e72a712be4735</string>
	<key>DATABASE_URL</key>
	<string>https://natterchat-4272b.firebaseio.com</string>
</dict>
</plist>