<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176458656030-hop4f607131isq6dujg0bevpkp8uqc5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176458656030-hop4f607131isq6dujg0bevpkp8uqc5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDDSQAp3Gex-kpZhk1NSf1upHOywIla1UE</string>
	<key>GCM_SENDER_ID</key>
	<string>176458656030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>football.connected.rewards</string>
	<key>PROJECT_ID</key>
	<string>sep-v4f</string>
	<key>STORAGE_BUCKET</key>
	<string>sep-v4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176458656030:ios:fa7203d2c6994f8ee4010f</string>
	<key>DATABASE_URL</key>
	<string>https://sep-v4f.firebaseio.com</string>
</dict>
</plist>
