name: Build Android And Upload

on:
  workflow_call:
    inputs:
      type:
        type: string
        required: true
      trigger:
        type: string
        required: false
        default: pr

jobs:
  build-hold:
    name: Hold
    runs-on: ubuntu-latest
    if: ${{ inputs.trigger == 'pr' }}
    environment: experimental_android_build
    steps:
      - run: echo "Waiting for manual approval..."

  build-android:
    name: Build
    runs-on: ubuntu-latest
    needs: [build-hold]
    if: ${{ inputs.type == 'experimental' && (always() && (needs.build-hold.result == 'success' || needs.build-hold.result == 'skipped')) }}
    outputs:
      BUILD_VERSION: ${{ steps.version.outputs.BUILD_VERSION }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Checkout and Setup Node
        uses: ./.github/actions/setup-node
    
      - name: Fetch supported versions from Cloud
        uses: ./.github/actions/fetch-supported-versions
        with:
          build_name: 'android-experimental'

      - name: Generate Build Version
        id: version
        uses: ./.github/actions/generate-build-version
        with:
          RN_VARIABLES_PAT: ${{ secrets.RN_VARIABLES_PAT }}

      - name: Build Android
        uses: ./.github/actions/build-android
        timeout-minutes: 40
        with:
          type: 'experimental'
          BUGSNAG_KEY: ${{ secrets.BUGSNAG_KEY }}
          KEYSTORE_EXPERIMENTAL_BASE64: ${{ secrets.KEYSTORE_EXPERIMENTAL_BASE64 }}
          KEYSTORE_EXPERIMENTAL: ${{ secrets.KEYSTORE_EXPERIMENTAL }}
          KEYSTORE_EXPERIMENTAL_PASSWORD: ${{ secrets.KEYSTORE_EXPERIMENTAL_PASSWORD }}
          KEYSTORE_EXPERIMENTAL_ALIAS: ${{ secrets.KEYSTORE_EXPERIMENTAL_ALIAS }}
          GOOGLE_SERVICES_ANDROID: ${{ secrets.GOOGLE_SERVICES_ANDROID }}
          BUILD_VERSION: ${{ steps.version.outputs.BUILD_VERSION }}

  upload-hold:
    name: Upload Hold
    runs-on: ubuntu-latest
    needs: [build-android]
    if: ${{ inputs.trigger == 'pr' }}
    environment: upload_experimental_android
    outputs:
      BUILD_VERSION: ${{ needs.build-android.outputs.BUILD_VERSION }}
    steps:
      - run: echo "Waiting for manual approval..."

  upload-android:
    name: Upload
    runs-on: ubuntu-latest
    needs: [upload-hold, build-android]
    if: ${{ inputs.type == 'experimental' && (always() && (needs.upload-hold.result == 'success' || needs.upload-hold.result == 'skipped') && needs.build-android.result == 'success') }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Checkout and Setup Node
        uses: ./.github/actions/setup-node
      
      - name: Upload Android
        uses: ./.github/actions/upload-android
        with:
          type: experimental
          trigger: ${{ inputs.trigger }}
          FASTLANE_GOOGLE_SERVICE_ACCOUNT: ${{ secrets.FASTLANE_GOOGLE_SERVICE_ACCOUNT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILD_VERSION: ${{ needs.upload-hold.outputs.BUILD_VERSION }}

  upload-internal:
    name: Internal Sharing
    runs-on: ubuntu-latest
    needs: [build-android]
    if: ${{ inputs.type == 'experimental' && inputs.trigger == 'pr' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Checkout and Setup Node
        uses: ./.github/actions/setup-node
      
      - name: Upload Internal Sharing
        uses: ./.github/actions/upload-internal-android
        with:
          type: experimental
          FASTLANE_GOOGLE_SERVICE_ACCOUNT: ${{ secrets.FASTLANE_GOOGLE_SERVICE_ACCOUNT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILD_VERSION: ${{ needs.build-android.outputs.BUILD_VERSION }}
